<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<div class="layout-bento">
		<slot />
	</div>
</html>

<style>
.layout-bento {
  width: 100%;
  padding: 24px;
}
</style>
